.rectangle-div {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gainsboro);
  width: 1440px;
  height: 164px;
}
.wrapper {
  position: absolute;
  top: 32px;
  left: 1278px;
}
.kost,
.rectangle-container {
  position: absolute;
  top: 2.4px;
  left: 0;
  width: 1440px;
  height: 164px;
}
.kost {
  height: 50.33%;
  width: 75.2%;
  top: 32.52%;
  left: 24.8%;
  letter-spacing: 0.6em;
  display: inline-block;
}
.group-wrapper,
.kost-parent,
.n {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
}
.n {
  width: 26.7%;
  font-size: var(--font-size-45xl);
  letter-spacing: 0.15em;
  display: inline-block;
}
.group-wrapper,
.kost-parent {
  width: 100%;
  right: 0;
  bottom: 0;
}
.group-wrapper {
  height: 73.92%;
  width: 17.53%;
  right: 75.67%;
  bottom: 26.08%;
  left: 6.81%;
}
.group-container {
  position: absolute;
  top: -2.4px;
  left: -5px;
  width: 1440px;
  height: 166.4px;
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--color-gray);
  font-family: var(--font-poppins);
}
